@using JobFinder.Data.Enum;
@using JobFinder.ViewModels;
@model EditResumeViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-action="Edit">
	<input asp-for="SearcherId" type="hidden" id="SearcherId" />
	<div class="form-group">
		<label asp-for="Title">resume title</label>
		<input asp-for="Title" class="form-control" placeholder="Enter resume title">
		<span asp-validation-for="Title" class="text-danger"></span>

	</div>

	<div class="form-group">
		<label asp-for="Skills">Skills</label>
		<textarea asp-for="Skills" class="form-control" rows="3"></textarea>
		<span asp-validation-for="Skills" class="text-danger"></span>

	</div>
	<div class="form-group">
		<label asp-for="Experience">Experience</label>
		<textarea asp-for="Experience" class="form-control" rows="3"></textarea>
		<span asp-validation-for="Experience" class="text-danger"></span>

	</div>
	<div class="form-group">
		<label asp-for="Education">Education</label>
		<textarea asp-for="Education" class="form-control" rows="3"></textarea>
		<span asp-validation-for="Education" class="text-danger"></span>

	</div>


	<div class="form-group">
		<label asp-for="ContactInfo">Contact info</label>
		<input asp-for="ContactInfo" class="form-control" placeholder="Enter your contact information">
		<span asp-validation-for="ContactInfo" class="text-danger"></span>
	</div>
	@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
	{
		<div class="form-group">
			<label asp-for="ResumeStatus">Тип роботи</label>
			<select asp-for="ResumeStatus" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control">
				<option selected="selected" value="">Тип обраний</option>
			</select>
			<span asp-validation-for="ResumeStatus" я class="text-danger"></span>
		</div>

	}

	<button type="submit" class="btn btn-primary">Submit</button>
</form>