@using JobFinder.ViewModels
@model UserDetailViewModel
<div class="container">
    <div class="profile">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
                <div class="profile-header-img">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    @if (Model.IsSubscribed)
                    {
                        <form method="post" asp-action="RemoveSubscriber">
                            <input asp-for="Id" type="hidden" id="userId" />

                            <button type="submit" class="btn btn-secondary btn-success">Unsubscribe</button>

                        </form>
                    }else
                    {
                        <form method="post" asp-action="AddSubscriber">
                            <input asp-for="Id" type="hidden" id="userId" />

                            <button type="submit" class="btn btn-secondary btn-danger">Subscribe</button>

                        </form>
                    }

                    

                  
                </div>
            </div>
        </div>

        <div class="profile-container">
            <div class="profile-sidebar">
                <div class="desktop-sticky-top">
                    <h4>@Model.Name @Model.Surname</h4>
                    <div class="font-weight-600 mb-3 text-muted mt-n2">@Model.Email</div>
                    <p>
                        Principal UXUI Design &amp; Brand Architecture for Studio. Creator of SeanTheme. Bringing the
                        world closer together. Studied Computer Science and Psychology at Harvard University.
                    </p>
                    <div class="mb-1"><i class="fa fa-map-marker-alt fa-fw text-muted"></i> New York, NY</div>
                    <div class="mb-3"><i class="fa fa-link fa-fw text-muted"></i> seantheme.com/studio</div>
                    <hr class="mt-4 mb-4" />
                </div>
            </div>

            <div class="profile-content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="tab-content p-0">
                            <div class="tab-pane fade active show" id="profile-followers">
                                <div class="list-group">
                                    <div class="list-group-item d-flex align-items-center">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                                            width="50px" class="rounded-sm ml-n2" />
                                        <div class="flex-fill pl-3 pr-3">
                                            <div><a href="#" class="text-dark font-weight-600">Roshni Fernandez</a>
                                            </div>
                                            <div class="text-muted fs-13px">Mount Lerdo</div>
                                        </div>
                                        <a href="#" class="btn btn-outline-primary">Follow</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>